/*-----------------------------------------------------------------------------// Custom Theme CSS/-----------------------------------------------------------------------------*/

/*---------------- Global Custom CSS -------------------*/

.main-header {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-header.header-has-no-bg.color-scheme-light.act-scroll {
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, .9);
}

.promo-banner .banner-inner h2 {
    line-height: 1;
}

/*---------------- Custom CSS for desktop -------------------*/

@media (min-width: 992px) {}

/*---------------- Custom CSS for tablet -------------------*/

@media (min-width: 768px) and (max-width: 991px) {}

/*---------------- Custom CSS for mobile landscape -------------------*/

@media (min-width: 481px) and (max-width: 767px) {}

/*---------------- Custom CSS for mobile -------------------*/

@media (max-width: 480px) {}